@charset "UTF-8";

/* Importando a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Importando a fonte baixada */

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format("opentype");
    font-weight: normal;
}

/* Paleta de Cores */
/* Escala Monocromática (mais claro para mais escuro)
    #c5ebd6
    #83e1ad
    #3ddc84
    #2fa886
    #1a5c37
    #063d1e 
*/

/* Variáveis CSS (globais) */

:root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa886;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/* Configuração global para tirar a margin e o padding padrão dos elementos */
* {
    margin: 0px;
    padding: 0px;
}

body { 
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
}

/* Todo link com a classe externo */
a.externo::after {
    content: '\00A0\1F517';
}

header {
    /* Configurando degradê no header */
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor06));
    min-height: 150px;
    text-align: center;
    /* Afastamento da conteúdo em relação ao topo */
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    /* Margin em relação ao parágrafo */
    margin-bottom: 20px;
    /* em = em relação ao tamanho original */
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.244);
    font-weight: normal;
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    /* A partir do max-width o parágrafo vira um bloco (display: block;), por isso precisamos do margin: auto; para centralizar o contéudo em relação a tela */
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    /* Sombra no texto */
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

nav {
    background-color: var(--cor06);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.217);
}

nav > a {
    color: var(--cor02);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    /* Negrito */
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor04);
    color: var(--cor06);
}

/* Main se adapta entre 1000 e 300px */
main {
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    /* Apenas o espalhamento */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

/* Padrão = 1.5em */
main h1 {
    color: var(--cor06);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

/* Padrão = 1.5em */
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor05);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor02), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main a {
    font-weight: bold;
    text-decoration: none;
    background-color: var(--cor02);
    color: var(--cor06);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor05);
}

main strong {
    font-weight: bold;
    color: var(--cor05);
}

main img {
    width: 100%;
}

/* Imagem do Bugdroid */
/* Imagem por padrão não é block */
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor06);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 56.5%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.244);
}

aside > h3{
    background-color: var(--cor05);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

/* Padrão list-style-position: outside; */
/* columns = dividir em 2 colunas */
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor06);
    color: white;
    text-align: center;
    /* Padrão = 1em */
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    color: var(--cor02);
    text-decoration: underline;
}
