/* Corpo */

body {
    background-color: aqua;
    margin: 0px;
}

p {
    margin: 0px;
    text-align: justify;
}

h1, h2 {
    margin: 0px 0px 20px 0px;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
}

/* Texto */

@font-face {
    font-family: 'Idroid';
    src: url('../static-projeto/fontes/idroid.otf') format('opentype');
}

main > section > h1 {
    font-family: 'Idroid', Arial, serif;
    color: green;
}

main > section > h2 {
    color: green;
    font-family: 'Idroid', Arial, serif;
}

section > article > picture > source {
    display: block;
    margin: auto;
}

section > article > picture > img {
    display: block;
    margin: auto;
}

section > article > img {
    display: block;
    margin: auto;
}

.titulo-h2{
    background-image: linear-gradient(to right, rgb(105, 250, 250), rgb(202, 249, 249), white);
}

.titulo-h1 {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-p {
    padding: 0px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.paragrafo-baixo {
    padding: 0px 0px 20px 0px;
}

.paragrafo-cima {
    padding: 20px 0px 0px 0px;
}

.paragrafo-baixo-cima {
    padding: 20px 0px 20px 0px;
}

/* Navegação */

header {
    background-image: linear-gradient(to top, green 20%, #3CBD26, lightgreen);
}

header h1 {
    color: white;
    margin: 0px;
    text-align: center;
}

header p {
    color: white;
    margin: 0px;
    text-align: center;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: inline;
}

nav ul li a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

/* Section */

main > section {
    padding: 20px 20px 0px 20px;
}

.video-android-content {
    height: 400px;
}

.video-android {
    width: 100%;
    height: 400px;
}

#video {
    padding: 0px;
    border-style: solid;
    border-color: green;
    border-right-width: 40px;
    border-left-width: 40px;
    border-top-width: 20px;
    border-bottom-width: 20px;
}

section ul {
    display: inline-block;
    padding-left: 10%;
    width: 39.6%;
}

/* Footer */

footer {
    padding: 6px;
    background-color: green;
}

footer p {
    margin: 0px;
    text-align: center;
    color: white;
}

footer span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

footer p span a {
    text-decoration: none;
    color: white;
}

footer p span a:active {
    color: blue;
}

footer p span a:visited {
    color: purple;
}

/* Extra */

.titulo-aprender-mais {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 161, 0);
    color: white;
    margin: 0px;
}

#aprender-mais-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: gray;
    padding: 20px;
}

#fim {
    padding-bottom: 20px;
}

section ul li {
    list-style: none;
}

section ul li a::before {
    content: '🐻';
}

section ul li a{
    text-decoration: underline;
    color: black;
}

